body{
	font-family: Arial; sans-serif;
}

nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 20px;
	line-height: 60px;
	padding-left: 290px;
	float: left;
}

.menu{
	float: left;
	padding-left: 232px; 
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 40px;
	font-size: 14px;
	text-transform: uppercase;
}

.main1{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat , url(../img/фонменю.png) center/cover no-repeat;
}

.title__container{
	float: left;
	margin: 232px 0px 0px 204px;
	color: #2c384a;
	text-align: center;
}

.title__container h1{
	font-size: 40px;
	font-weight: bold;
}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #aeb2ba;
}

.title__container input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 58px 14px 0px 14px;
}

.main2{
	float: left;
	width: 100%;
	height: calc(100% - 120px);
	background: url(../img/chz.png) 615px 113px/auto 5px  no-repeat ,url(../img/скач.png) 585px 425px/auto 15px  no-repeat , url(../img/fs.png) center/100% no-repeat;
}

.title_container1{
	float: left;
	text-align: center;
	margin: 68px 0px 0px 90px;

}

.title_container1 h2{
	font-size: 30px;
	font-weight: bold;
	color: #263244;
}
.title_container1 p{
	font-size: 10px;
	color: #263244;
}

.title_container1 img{
	margin: 60px 0px 50px 10px;
}

.title_container1 input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 10px 20px 20px 30px;
	margin: 58px 14px 0px 14px;
}

.skill{
	display: inline-block;
	width: 100%;
	height: calc(100% - 260px);
	background: url(../img/chz.png) 628px 120px/auto 5px  no-repeat , url(../img/fon.png) center/100% no-repeat;
}

.skills{
	text-align: center;
	margin: 70px 0px 0px 0px;
}

.skills p{
	font-size: 14px;
}

.skills h2{
	font-size: 30px;
	font-weight: bold;
	color: #263244;
}


.veb_skills{
	float: left;
	width: 310px;
	margin-top: 70px;
	padding: 0px 30px 0px 100px;
}

.veb_skills h4{
	font-size: 20px;
	font-weight: bold;
	color: #cf7600;
	margin: 10px 0px 10px 0px;
}

.new_skills{
	float: left;
	width: 310px;
	margin-top: 70px;
	padding: 0px 30px 0px 100px;
}

.new_skills h4{
	font-size: 20px;
	font-weight: bold;
	color: #cf7600;
	margin: 10px 0px 10px 0px;
}

.ceo_skills{
	float: left;
	width: 310px;
	margin-top: 70px;
	padding: 0px 30px 0px 100px;
}

.ceo_skills h4{
	font-size: 20px;
	font-weight: bold;
	color: #cf7600;
	margin: 10px 0px 10px 0px;
}

.mark_skills{
	float: left;
	width: 310px;
	margin-top: 70px;
	padding: 0px 30px 0px 30px;
}

.mark_skills h4{
	font-size: 20px;
	font-weight: bold;
	color: #cf7600;
	margin: 10px 0px 10px 0px;
}

.case{
	width: 100%;
	height: calc(100% - 260px);
	background: url(../img/chz.png) 628px 100px/auto 5px  no-repeat;

}

.case_skills{
	text-align: center;
	margin: 50px 0px 60px 0px;
}

.case_skills h2{
	font-size: 30px;
	font-weight: bold;
	color: #263244;
}

.case_skills p{
 	margin: 40px 0px 40px 0px;
}

.case_skills img{
	float: left;
 	margin: -15px 90px -200px -300px;
}

.client{
	float: left;
	margin: 0px 50px 50px 110px;
	text-align: left;
	width: 60px;
}

.client h4{
	font-weight: bold;
	font-size: 16px;
	color: #263244;
}

.client input{
	height: 40px;
	text-align: center;
	border: 2px solid #6d7682;
	background: none;
	border-radius: 5px;
	color: #6d7682;
	font-size: 13px;
	padding: 0px 16px;
	margin: 0px;
}

.name_site{
	text-align: left;
	width: 860px;
	margin: 0px 0px 0px 400px;
}

.name_site h4{
	font-weight: bold;
	font-size: 16px;
	color: #263244;
}

.calc{
	width: 100%;
	background: url(../img/chz.png) 628px 100px/auto 5px  no-repeat;
}

.title__calc{
	float: left;
	width: 600px;
	text-align: center;
}















